--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: check_parallel_consistency(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.check_parallel_consistency() RETURNS TABLE(issue_type text, details text)
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- V??rifier que tous les profs d'un groupe parall??le ont le m??me nombre d'heures
    RETURN QUERY
    SELECT 
        'Incoh??rence heures parall??les'::TEXT,
        'Groupe ' || group_id || ': ' || 
        STRING_AGG(teacher_name || ' (' || hours_per_teacher || 'h)', ', ')::TEXT
    FROM parallel_teaching_details
    GROUP BY group_id
    HAVING COUNT(DISTINCT hours_per_teacher) > 1;
    
    -- V??rifier que les classes ne sont pas assign??es ?? plusieurs groupes parall??les pour la m??me mati??re
    RETURN QUERY
    WITH class_conflicts AS (
        SELECT 
            unnest(string_to_array(classes_covered, ',')) as class_name,
            subject,
            grade,
            COUNT(DISTINCT group_id) as group_count
        FROM parallel_teaching_details
        GROUP BY 1, 2, 3
        HAVING COUNT(DISTINCT group_id) > 1
    )
    SELECT 
        'Classe dans plusieurs groupes'::TEXT,
        class_name || ' appara??t dans ' || group_count || 
        ' groupes pour ' || subject || ' niveau ' || grade::TEXT
    FROM class_conflicts;
END;
$$;


ALTER FUNCTION public.check_parallel_consistency() OWNER TO admin;

--
-- Name: validate_parallel_teaching(); Type: FUNCTION; Schema: public; Owner: admin
--

CREATE FUNCTION public.validate_parallel_teaching() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- V??rifier que le professeur existe
    IF NOT EXISTS (
        SELECT 1 FROM teachers 
        WHERE teacher_name = NEW.teacher_name
    ) THEN
        RAISE EXCEPTION 'Professeur % non trouv?? dans la table teachers', NEW.teacher_name;
    END IF;
    
    -- V??rifier que les heures sont positives
    IF NEW.hours_per_teacher <= 0 THEN
        RAISE EXCEPTION 'Le nombre d''heures doit ??tre positif';
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_parallel_teaching() OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO admin;

--
-- Name: backup_parallel_teaching_details_20250728; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.backup_parallel_teaching_details_20250728 (
    detail_id integer,
    group_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    hours_per_teacher integer,
    classes_covered text,
    simultaneous_slots integer,
    created_at timestamp without time zone
);


ALTER TABLE public.backup_parallel_teaching_details_20250728 OWNER TO admin;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.classes (
    class_id integer NOT NULL,
    grade integer NOT NULL,
    section character varying(10) NOT NULL,
    class_name character varying(50) NOT NULL,
    student_count integer,
    is_active boolean DEFAULT true
);


ALTER TABLE public.classes OWNER TO admin;

--
-- Name: classes_class_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.classes_class_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.classes_class_id_seq OWNER TO admin;

--
-- Name: classes_class_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.classes_class_id_seq OWNED BY public.classes.class_id;


--
-- Name: constraints; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.constraints (
    constraint_id integer NOT NULL,
    constraint_type character varying(50) NOT NULL,
    priority integer DEFAULT 1,
    entity_type character varying(50),
    entity_name character varying(100),
    constraint_data jsonb NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.constraints OWNER TO admin;

--
-- Name: constraints_constraint_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.constraints_constraint_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.constraints_constraint_id_seq OWNER TO admin;

--
-- Name: constraints_constraint_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.constraints_constraint_id_seq OWNED BY public.constraints.constraint_id;


--
-- Name: constraints_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.constraints_history (
    id integer NOT NULL,
    constraint_id integer,
    constraint_data json,
    applied_at timestamp without time zone,
    applied_by character varying(100),
    success boolean,
    impact_score integer,
    rollback_data json
);


ALTER TABLE public.constraints_history OWNER TO admin;

--
-- Name: constraints_history_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.constraints_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.constraints_history_id_seq OWNER TO admin;

--
-- Name: constraints_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.constraints_history_id_seq OWNED BY public.constraints_history.id;


--
-- Name: institutional_constraint_entities; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.institutional_constraint_entities (
    id integer NOT NULL,
    constraint_id integer NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_name character varying(100) NOT NULL,
    exception_type character varying(20) DEFAULT 'include'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.institutional_constraint_entities OWNER TO admin;

--
-- Name: institutional_constraint_entities_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.institutional_constraint_entities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.institutional_constraint_entities_id_seq OWNER TO admin;

--
-- Name: institutional_constraint_entities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.institutional_constraint_entities_id_seq OWNED BY public.institutional_constraint_entities.id;


--
-- Name: institutional_constraints; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.institutional_constraints (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    type character varying(50) NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    entity character varying(100) DEFAULT 'all'::character varying NOT NULL,
    data json NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    applicable_days integer[],
    start_date date,
    end_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone,
    created_by character varying(100) DEFAULT 'system'::character varying NOT NULL
);


ALTER TABLE public.institutional_constraints OWNER TO admin;

--
-- Name: institutional_constraints_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.institutional_constraints_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.institutional_constraints_id_seq OWNER TO admin;

--
-- Name: institutional_constraints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.institutional_constraints_id_seq OWNED BY public.institutional_constraints.id;


--
-- Name: parallel_groups; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.parallel_groups (
    group_id integer NOT NULL,
    subject character varying(100),
    grade character varying(10),
    teachers text,
    class_lists text
);


ALTER TABLE public.parallel_groups OWNER TO admin;

--
-- Name: parallel_groups_backup_migration; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.parallel_groups_backup_migration (
    group_id integer,
    subject character varying(100),
    grade character varying(10),
    teachers text,
    class_lists text
);


ALTER TABLE public.parallel_groups_backup_migration OWNER TO admin;

--
-- Name: parallel_groups_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.parallel_groups_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.parallel_groups_group_id_seq OWNER TO admin;

--
-- Name: parallel_groups_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.parallel_groups_group_id_seq OWNED BY public.parallel_groups.group_id;


--
-- Name: parallel_teaching_details; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.parallel_teaching_details (
    detail_id integer NOT NULL,
    group_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    hours_per_teacher integer,
    classes_covered text,
    simultaneous_slots integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.parallel_teaching_details OWNER TO admin;

--
-- Name: parallel_teaching_details_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.parallel_teaching_details_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.parallel_teaching_details_detail_id_seq OWNER TO admin;

--
-- Name: parallel_teaching_details_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.parallel_teaching_details_detail_id_seq OWNED BY public.parallel_teaching_details.detail_id;


--
-- Name: schedule_entries; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.schedule_entries (
    entry_id integer NOT NULL,
    schedule_id integer,
    teacher_name character varying(100),
    class_name character varying(50),
    subject_name character varying(100),
    day_of_week integer,
    period_number integer,
    is_parallel_group boolean DEFAULT false,
    group_id integer
);


ALTER TABLE public.schedule_entries OWNER TO admin;

--
-- Name: schedule_entries_entry_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.schedule_entries_entry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedule_entries_entry_id_seq OWNER TO admin;

--
-- Name: schedule_entries_entry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.schedule_entries_entry_id_seq OWNED BY public.schedule_entries.entry_id;


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.schedules (
    schedule_id integer NOT NULL,
    academic_year character varying(20),
    term integer,
    version integer DEFAULT 1,
    status character varying(20) DEFAULT 'draft'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.schedules OWNER TO admin;

--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.schedules_schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedules_schedule_id_seq OWNER TO admin;

--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.schedules_schedule_id_seq OWNED BY public.schedules.schedule_id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.subjects (
    subject_id integer NOT NULL,
    subject_name character varying(100) NOT NULL,
    subject_code character varying(20),
    category character varying(50),
    difficulty_level integer DEFAULT 3
);


ALTER TABLE public.subjects OWNER TO admin;

--
-- Name: subjects_subject_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.subjects_subject_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.subjects_subject_id_seq OWNER TO admin;

--
-- Name: subjects_subject_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.subjects_subject_id_seq OWNED BY public.subjects.subject_id;


--
-- Name: teacher_load; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_load (
    load_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    class_list character varying(255),
    hours integer,
    work_days character varying(50),
    is_parallel boolean DEFAULT false
);


ALTER TABLE public.teacher_load OWNER TO admin;

--
-- Name: teacher_load_backup; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_load_backup (
    load_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    class_list character varying(255),
    hours integer,
    work_days character varying(50)
);


ALTER TABLE public.teacher_load_backup OWNER TO admin;

--
-- Name: teacher_load_backup_migration; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_load_backup_migration (
    load_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    class_list character varying(255),
    hours integer,
    work_days character varying(50),
    is_parallel boolean
);


ALTER TABLE public.teacher_load_backup_migration OWNER TO admin;

--
-- Name: teacher_load_bak; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_load_bak (
    load_id integer,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    class_list character varying(255),
    hours integer,
    work_days character varying(50),
    is_parallel boolean
);


ALTER TABLE public.teacher_load_bak OWNER TO admin;

--
-- Name: teacher_load_full; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_load_full (
    load_id integer NOT NULL,
    teacher_name character varying(100),
    subject character varying(100),
    grade character varying(10),
    class_list character varying(255),
    hours integer,
    work_days character varying(50)
);


ALTER TABLE public.teacher_load_full OWNER TO admin;

--
-- Name: teacher_load_load_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.teacher_load_load_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teacher_load_load_id_seq OWNER TO admin;

--
-- Name: teacher_load_load_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.teacher_load_load_id_seq OWNED BY public.teacher_load_full.load_id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teachers (
    teacher_id integer NOT NULL,
    teacher_name character varying(100) NOT NULL,
    total_hours integer,
    work_days character varying(50),
    email character varying(100),
    phone character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true
);


ALTER TABLE public.teachers OWNER TO admin;

--
-- Name: teachers_teacher_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.teachers_teacher_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teachers_teacher_id_seq OWNER TO admin;

--
-- Name: teachers_teacher_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.teachers_teacher_id_seq OWNED BY public.teachers.teacher_id;


--
-- Name: time_slots; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.time_slots (
    slot_id integer NOT NULL,
    day_of_week integer,
    period_number integer,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    is_break boolean DEFAULT false,
    is_active boolean DEFAULT true
);


ALTER TABLE public.time_slots OWNER TO admin;

--
-- Name: time_slots_slot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.time_slots_slot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.time_slots_slot_id_seq OWNER TO admin;

--
-- Name: time_slots_slot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.time_slots_slot_id_seq OWNED BY public.time_slots.slot_id;


--
-- Name: v_active_institutional_constraints; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_active_institutional_constraints AS
 SELECT institutional_constraints.id,
    institutional_constraints.name,
    institutional_constraints.type,
    institutional_constraints.priority,
    institutional_constraints.entity,
    institutional_constraints.data,
    institutional_constraints.description,
    institutional_constraints.applicable_days,
    institutional_constraints.start_date,
    institutional_constraints.end_date,
    institutional_constraints.created_at,
    institutional_constraints.updated_at,
    institutional_constraints.created_by,
    ARRAY[]::text[] AS entities
   FROM public.institutional_constraints
  WHERE ((institutional_constraints.is_active = true) AND ((institutional_constraints.start_date IS NULL) OR (institutional_constraints.start_date <= CURRENT_DATE)) AND ((institutional_constraints.end_date IS NULL) OR (institutional_constraints.end_date >= CURRENT_DATE)))
  ORDER BY institutional_constraints.priority, institutional_constraints.id;


ALTER TABLE public.v_active_institutional_constraints OWNER TO admin;

--
-- Name: v_parallel_schedule; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_parallel_schedule AS
 SELECT se.schedule_id,
    se.day_of_week,
    se.period_number,
    se.group_id,
    se.subject_name,
    string_agg(DISTINCT (se.teacher_name)::text, ' + '::text ORDER BY (se.teacher_name)::text) AS teachers,
    string_agg(DISTINCT (se.class_name)::text, ', '::text ORDER BY (se.class_name)::text) AS classes,
    count(DISTINCT se.class_name) AS class_count,
    bool_or(se.is_parallel_group) AS is_parallel
   FROM public.schedule_entries se
  WHERE (se.group_id IS NOT NULL)
  GROUP BY se.schedule_id, se.day_of_week, se.period_number, se.group_id, se.subject_name
  ORDER BY se.day_of_week, se.period_number;


ALTER TABLE public.v_parallel_schedule OWNER TO admin;

--
-- Name: v_parallel_teaching; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_parallel_teaching AS
 SELECT pg.group_id,
    pg.subject,
    pg.grade,
    pg.teachers,
    ptd.hours_per_teacher AS hours,
    count(DISTINCT ptd.teacher_name) AS teacher_count,
    string_agg(DISTINCT replace(replace(ptd.classes_covered, ' '::text, ''::text), ','::text, '|'::text), ', '::text) AS all_classes
   FROM (public.parallel_groups pg
     JOIN public.parallel_teaching_details ptd ON ((pg.group_id = ptd.group_id)))
  GROUP BY pg.group_id, pg.subject, pg.grade, pg.teachers, ptd.hours_per_teacher;


ALTER TABLE public.v_parallel_teaching OWNER TO admin;

--
-- Name: v_teacher_workload; Type: VIEW; Schema: public; Owner: admin
--

CREATE VIEW public.v_teacher_workload AS
 WITH regular_hours AS (
         SELECT schedule_entries.teacher_name,
            count(*) AS teaching_hours,
            0 AS parallel_hours
           FROM public.schedule_entries
          WHERE ((schedule_entries.is_parallel_group = false) OR (schedule_entries.is_parallel_group IS NULL))
          GROUP BY schedule_entries.teacher_name
        ), parallel_hours AS (
         SELECT schedule_entries.teacher_name,
            0 AS teaching_hours,
            count(DISTINCT ROW(schedule_entries.day_of_week, schedule_entries.period_number, schedule_entries.group_id)) AS parallel_hours
           FROM public.schedule_entries
          WHERE (schedule_entries.is_parallel_group = true)
          GROUP BY schedule_entries.teacher_name
        )
 SELECT COALESCE(r.teacher_name, p.teacher_name) AS teacher_name,
    COALESCE(r.teaching_hours, (0)::bigint) AS regular_hours,
    COALESCE(p.parallel_hours, (0)::bigint) AS parallel_hours,
    (COALESCE(r.teaching_hours, (0)::bigint) + COALESCE(p.parallel_hours, (0)::bigint)) AS total_hours
   FROM (regular_hours r
     FULL JOIN parallel_hours p ON (((r.teacher_name)::text = (p.teacher_name)::text)))
  ORDER BY (COALESCE(r.teaching_hours, (0)::bigint) + COALESCE(p.parallel_hours, (0)::bigint)) DESC;


ALTER TABLE public.v_teacher_workload OWNER TO admin;

--
-- Name: classes class_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classes ALTER COLUMN class_id SET DEFAULT nextval('public.classes_class_id_seq'::regclass);


--
-- Name: constraints constraint_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.constraints ALTER COLUMN constraint_id SET DEFAULT nextval('public.constraints_constraint_id_seq'::regclass);


--
-- Name: constraints_history id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.constraints_history ALTER COLUMN id SET DEFAULT nextval('public.constraints_history_id_seq'::regclass);


--
-- Name: institutional_constraint_entities id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraint_entities ALTER COLUMN id SET DEFAULT nextval('public.institutional_constraint_entities_id_seq'::regclass);


--
-- Name: institutional_constraints id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraints ALTER COLUMN id SET DEFAULT nextval('public.institutional_constraints_id_seq'::regclass);


--
-- Name: parallel_groups group_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parallel_groups ALTER COLUMN group_id SET DEFAULT nextval('public.parallel_groups_group_id_seq'::regclass);


--
-- Name: parallel_teaching_details detail_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parallel_teaching_details ALTER COLUMN detail_id SET DEFAULT nextval('public.parallel_teaching_details_detail_id_seq'::regclass);


--
-- Name: schedule_entries entry_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule_entries ALTER COLUMN entry_id SET DEFAULT nextval('public.schedule_entries_entry_id_seq'::regclass);


--
-- Name: schedules schedule_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedules ALTER COLUMN schedule_id SET DEFAULT nextval('public.schedules_schedule_id_seq'::regclass);


--
-- Name: subjects subject_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subjects ALTER COLUMN subject_id SET DEFAULT nextval('public.subjects_subject_id_seq'::regclass);


--
-- Name: teacher_load_full load_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_load_full ALTER COLUMN load_id SET DEFAULT nextval('public.teacher_load_load_id_seq'::regclass);


--
-- Name: teachers teacher_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teachers ALTER COLUMN teacher_id SET DEFAULT nextval('public.teachers_teacher_id_seq'::regclass);


--
-- Name: time_slots slot_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.time_slots ALTER COLUMN slot_id SET DEFAULT nextval('public.time_slots_slot_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
002_inst_constraints
\.


--
-- Data for Name: backup_parallel_teaching_details_20250728; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.classes (class_id, grade, section, class_name, student_count, is_active) FROM stdin;
\.


--
-- Data for Name: constraints; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.constraints (constraint_id, constraint_type, priority, entity_type, entity_name, constraint_data, is_active, created_at, updated_at) FROM stdin;
1	parallel_group	1000	Group	\N	{"day": null, "room": null, "period": null, "description": "╫נ╫צ╫¿╫ק╫ץ╫¬ ╫ר", "entity_name": "╫נ╫צ╫¿╫ק╫ץ╫¬", "entity_type": "Subject"}	t	2025-08-06 12:13:40.189	2025-08-06 12:15:59.053075
\.


--
-- Data for Name: constraints_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.constraints_history (id, constraint_id, constraint_data, applied_at, applied_by, success, impact_score, rollback_data) FROM stdin;
\.


--
-- Data for Name: institutional_constraint_entities; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.institutional_constraint_entities (id, constraint_id, entity_type, entity_name, exception_type, created_at) FROM stdin;
\.


--
-- Data for Name: institutional_constraints; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.institutional_constraints (id, name, type, priority, entity, data, description, is_active, applicable_days, start_date, end_date, created_at, updated_at, created_by) FROM stdin;
1	Horaires scolaires standard	school_hours	0	all	{"start": "08:00", "end": "15:00", "days": [0, 1, 2, 3, 4]}	Horaires d'ouverture de l'├⌐cole du dimanche au jeudi	t	\N	\N	\N	2025-07-30 07:44:58.89703	\N	system
2	Fin anticip├⌐e vendredi	friday_early_end	0	all	{"last_period": 6, "end_time": "12:30"}	Fin des cours le vendredi ├á 12h30	t	\N	\N	\N	2025-07-30 07:44:58.89703	\N	system
\.


--
-- Data for Name: parallel_groups; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: parallel_groups_backup_migration; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: parallel_teaching_details; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.parallel_teaching_details (detail_id, group_id, teacher_name, subject, grade, hours_per_teacher, classes_covered, simultaneous_slots, created_at) FROM stdin;
\.


--
-- Data for Name: schedule_entries; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.schedule_entries (entry_id, schedule_id, teacher_name, class_name, subject_name, day_of_week, period_number, is_parallel_group, group_id) FROM stdin;
\.


--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.schedules (schedule_id, academic_year, term, version, status, created_at) FROM stdin;
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: teacher_load; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: teacher_load_backup; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.teacher_load_backup (load_id, teacher_name, subject, grade, class_list, hours, work_days) FROM stdin;
\.


--
-- Data for Name: teacher_load_backup_migration; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: teacher_load_bak; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: teacher_load_full; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.teacher_load_full (load_id, teacher_name, subject, grade, class_list, hours, work_days) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: time_slots; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.time_slots (slot_id, day_of_week, period_number, start_time, end_time, is_break, is_active) FROM stdin;
\.


--
-- Name: classes_class_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.classes_class_id_seq', 1, false);


--
-- Name: constraints_constraint_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.constraints_constraint_id_seq', 1, true);


--
-- Name: constraints_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.constraints_history_id_seq', 1, false);


--
-- Name: institutional_constraint_entities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.institutional_constraint_entities_id_seq', 1, false);


--
-- Name: institutional_constraints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.institutional_constraints_id_seq', 3, true);


--
-- Name: parallel_groups_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.parallel_groups_group_id_seq', 1105, true);


--
-- Name: parallel_teaching_details_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.parallel_teaching_details_detail_id_seq', 1, false);


--
-- Name: schedule_entries_entry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.schedule_entries_entry_id_seq', 1, false);


--
-- Name: schedules_schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.schedules_schedule_id_seq', 1, false);


--
-- Name: subjects_subject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.subjects_subject_id_seq', 35, true);


--
-- Name: teacher_load_load_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.teacher_load_load_id_seq', 1, false);


--
-- Name: teachers_teacher_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.teachers_teacher_id_seq', 330, true);


--
-- Name: time_slots_slot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.time_slots_slot_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: classes classes_class_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_class_name_key UNIQUE (class_name);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (class_id);


--
-- Name: constraints_history constraints_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.constraints_history
    ADD CONSTRAINT constraints_history_pkey PRIMARY KEY (id);


--
-- Name: constraints constraints_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.constraints
    ADD CONSTRAINT constraints_pkey PRIMARY KEY (constraint_id);


--
-- Name: institutional_constraint_entities institutional_constraint_entities_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraint_entities
    ADD CONSTRAINT institutional_constraint_entities_pkey PRIMARY KEY (id);


--
-- Name: institutional_constraints institutional_constraints_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraints
    ADD CONSTRAINT institutional_constraints_name_key UNIQUE (name);


--
-- Name: institutional_constraints institutional_constraints_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraints
    ADD CONSTRAINT institutional_constraints_pkey PRIMARY KEY (id);


--
-- Name: parallel_groups parallel_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parallel_groups
    ADD CONSTRAINT parallel_groups_pkey PRIMARY KEY (group_id);


--
-- Name: parallel_teaching_details parallel_teaching_details_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parallel_teaching_details
    ADD CONSTRAINT parallel_teaching_details_pkey PRIMARY KEY (detail_id);


--
-- Name: schedule_entries schedule_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule_entries
    ADD CONSTRAINT schedule_entries_pkey PRIMARY KEY (entry_id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (schedule_id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (subject_id);


--
-- Name: subjects subjects_subject_code_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_subject_code_key UNIQUE (subject_code);


--
-- Name: teacher_load_full teacher_load_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_load_full
    ADD CONSTRAINT teacher_load_pkey PRIMARY KEY (load_id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (teacher_id);


--
-- Name: teachers teachers_teacher_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_teacher_name_key UNIQUE (teacher_name);


--
-- Name: time_slots time_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.time_slots
    ADD CONSTRAINT time_slots_pkey PRIMARY KEY (slot_id);


--
-- Name: idx_institutional_constraints_active; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_institutional_constraints_active ON public.institutional_constraints USING btree (is_active);


--
-- Name: idx_institutional_constraints_priority; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_institutional_constraints_priority ON public.institutional_constraints USING btree (priority);


--
-- Name: idx_institutional_constraints_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_institutional_constraints_type ON public.institutional_constraints USING btree (type);


--
-- Name: idx_schedule_entries_group; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_schedule_entries_group ON public.schedule_entries USING btree (group_id) WHERE (group_id IS NOT NULL);


--
-- Name: idx_teacher_load_parallel; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_teacher_load_parallel ON public.teacher_load USING btree (is_parallel) WHERE (is_parallel = true);


--
-- Name: institutional_constraint_entities institutional_constraint_entities_constraint_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.institutional_constraint_entities
    ADD CONSTRAINT institutional_constraint_entities_constraint_id_fkey FOREIGN KEY (constraint_id) REFERENCES public.institutional_constraints(id) ON DELETE CASCADE;


--
-- Name: parallel_teaching_details parallel_teaching_details_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.parallel_teaching_details
    ADD CONSTRAINT parallel_teaching_details_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.parallel_groups(group_id);


--
-- Name: schedule_entries schedule_entries_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.schedule_entries
    ADD CONSTRAINT schedule_entries_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(schedule_id);


--
-- Name: teacher_load_full teacher_load_teacher_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_load_full
    ADD CONSTRAINT teacher_load_teacher_name_fkey FOREIGN KEY (teacher_name) REFERENCES public.teachers(teacher_name);


--
-- PostgreSQL database dump complete
--

